#build_power {
    position: absolute;
    top: -15px;
    font-family: 'DINPRO-BOLD';
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0 2px 2px #000;
}

#build_power table {
    height: 29px;
}

#build_power td {
    background: url(coui://ui/alpha/live_game/img/unit_info_panel/img_info_panel_bground_midspan.png) top left repeat-x;
    vertical-align: bottom;
    white-space: nowrap;
    padding: 0 5px 0 5px;
}
