#build_power {
    /* similar to .div_unit_list */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    /* similar to .div_build_bar_unit_hover_detail .resources */
    font-size: 11px;
    font-family: 'Sansation Regular TTF';
    color: #91FBFF;
}

#build_power td {
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 4px;
}
